

<% if flash[:notice] %>
<div class = "flash">
<%= flash[:notice] %>
</div>
<% end %>

<p class = "result"><span>Title: </span><%= @book.title %></p>
<p class = "result"><span>Body: </span><%= @book.body %></p>

<div class = "next-action"> <%= link_to "Edit", edit_book_path %></div>
|
<div class = "next-action" ><%= link_to "Back", books_path %></div>